html,body{
    margin: 0;
    padding: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    top: 0;
    overflow: auto;
    padding-bottom: 20px;
}

.chatProfile{
    width: 50px;
    border-radius: 50%;
    height: 50px;
}
.userChatProfile{
    width: 50px;
    border-radius: 50%;
    height: 50px;
}
.header{
    background: rgb(0,0,20);
    color: white;
    display: flex;
    flex-direction: column;
    height: 100px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
nav{
    display: flex;
    flex-direction: row;
}
.chatProfileNav{
    margin: 20px 0px 0px 20px;
}

.userName{
    font-family: sans-serif;
    margin-left: 80px;
    margin-top: 40px;
}
.reseach{
    display: block;
    width: 100%;
    text-align: center;
    align-items: center;
}
#searchBar{
    margin-top: 20px;
    font-family: sans-serif;
    color: rgb(0,0,20);
    border: 1px solid rgb(0,0,20);
    text-decoration: none;
    outline:none;
    border-radius: 5px;
}
.chatUsers{
    margin-top: 20px;
    padding-bottom: 50px;
}
.icons {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    /* margin-bottom: 5px; */
    cursor: pointer;
    background:rgb(235, 235, 235);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
i{
    margin-top: 5px;
}
.userChatDiv:active{
    background:rgb(235, 235, 235);
}
span{
    color: rgb(0,0,20);
    font-family: sans-serif;
}
.downbar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    justify-content: center;
}

/* *****************************************profile page ****************************************************** */
.userNameDiv{
    text-align: center;
    margin-top: 30px;
}
.passworDiv{
    text-align: center;
    margin-top: 30px;
}
.divNewName{
    /* display: grid;
    grid-template-columns: 1fr 2fr; */
    text-align: center;
    margin-top: 30px;
    /* margin-right: 50px; */
}
.divNewpass{
    /* display: grid;
    grid-template-columns: 1fr 2fr; */
    margin-top: 30px;
    text-align: center;
    /* margin-right: 50px; */
}
label{
    font-family: sans-serif;
}
.inputPassword{
    border: 1px solid rgb(0,0,20);
    text-decoration: none;
    outline:none;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-left: 15px;
    
}
.inputName{
    border: 1px solid rgb(0,0,20);
    text-decoration: none;
    outline:none;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-left: 20px;
    
}
.inputNewPassword{
    border: 1px solid rgb(0,0,20);
    text-decoration: none;
    outline:none;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-left: -10px;
    
    
}
.inputNewName{
    border: 1px solid rgb(0,0,20);
    text-decoration: none;
    outline:none;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-left: 20px;
    margin-top: 20px;
    
}

.updateButton{
    margin-top: 30px;
    border: none;
    border-radius: 5px;
    background: rgb(0,0,20);
    color: white;
    font-family: sans-serif;
    height: 25px;
    width: 10em;
}

.divButton{
    text-align: center;
}
.progressDiv{
    margin-top: 20px;
    text-align: center;
}
#progressBar{
    width: 20em;
}
.deconnectButton{
    background: rgb(0,0,20);
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    font-family: sans-serif;
    width: 10em;
    height: 25px;
}
/* .userPublicDetails{ */
    /* box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; */
/* } */

.divBio{
    text-align: center;
    margin-top: 30px;
}
.bioInput{
    outline: none;
    margin-left: 30px;
    width: 181px;
    border: 1px solid rgb(0,0,20);
    border-radius: 3px;
}

.bioLabel{
    float: left;
    margin-left: 30px;
}
.userNamePara{
    float: left;
    margin-left: 30px;
    margin-top: 20px;
}
.labelPassword{
    float: left;
    margin-left: 30px;
}
.updatePara{
    text-align: center;
    font-family: sans-serif;
}
.profileOptionSection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    text-align: center;
    background:rgb(235, 235, 235);
    border-radius: 30px;
    margin: -30px 10px 0 10px;
}
.divFollowers,.divFollowing,.divProfile{
    border-radius: 30px;
    cursor: pointer;
}
p{
    font-family: sans-serif;
}
/* ********************************************************chat page *************************************************** */
.hr{
    color: rgb(0,0,20);
    margin-left: 5em;
    margin-right: 1em;
    opacity: 0.5;
    margin-top: 0;
    margin-bottom: 0;
}
.userChatDiv{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.userChatDiv{
    margin-top: 10px;
}
.userName{
    font-family: sans-serif;
}

/* ******************************media queries************************************* */
@media(min-width: 1760px){
    body{
        width: 50%;
        margin-left: 25%;
        box-shadow: 0px 0px 40px  grey;
        }
    .icons{
        width: 50%;
        margin-left: 25%;
    }
}