*{
    box-sizing: border-box;
}

html,body{
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    background: rgb(0,0,20);
    height:100%;
    bottom: 0;
    /* overflow-y: hidden; */

}

.mainSection{
    /* position: absolute; */
    width: 100%;
    background: white;
    top:65px;
    margin-bottom: 50px;
    /* overflow: auto; */
    /* position: absolute; */
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 100vh;
}
.userChatProfile{
    width: 40px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10px;
}
p{
    font-family: sans-serif;
}
.userNameSender{
    font-family: sans-serif;
    margin-top: 20px;
    margin-left: 20px;
}
.userName{
    font-family: sans-serif;
    padding-bottom: 30px;
}
header{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 2fr;
    background: rgb(0,0,20);
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 65px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.userInformation{
    margin-top: 80px;
    background: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.chatSection{
    margin-bottom: 50px;
    background: white;
    overflow-y: auto;
    margin-top: -16px;
    bottom: 50px;

    /* display: flex;
    flex-direction: ; */
    
}
.receiver{
    padding-top: 20px;
    text-align: center;
}
.fa-arrow-left{
    color: white;
    margin-left: 20px;
    margin-top:20px;
    cursor: pointer;
    /* font-size: 80px; */
}

footer{
    position: fixed;
    bottom: 0;
    background: white;
    width: 100%;
    height: 50px;
    border-top: transparent;
}
.messageInput{
display: grid;
grid-template-columns: 3fr 1fr;
}
.paraContainer{
    word-wrap: break-word;
}
#messageInput{
    margin-left: 20px;
    /* border-top:none;
    border-right:none;
    border-left: none; */
    text-decoration: none;
    outline: none;
    border: 1px solid rgb(0,0,20);
    border-radius: 10px;
    font-family: sans-serif;
    margin-bottom: 10px;
    height: 45px;
    resize: none;
    margin-left: 20px;
    /* overflow-y: hidden; */
}
::-moz-placeholder{
    margin-top: 10px;
}

.send{
    background: transparent;
    border: none;
    color: rgb(0,0,20);
    text-decoration: none;
    outline: none;
    cursor: pointer;
    margin-bottom: 10px;

}

/* ******************************media queries************************************* */
@media(min-width: 1760px){
    body{
        width: 50%;
        margin-left: 25%;
        box-shadow: 0px 0px 40px  grey;
        }
        footer{
            width: 50%;
        }
        header{
            width: 50%;
        }
}
@media(min-height:1024px){
    .chatSection{
        margin-bottom: 55px;
        background: white;
        overflow-y: auto;
       
        /* display: flex;
        flex-direction: ; */
        
    }
}