<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/chat.css">
    <link href="http://fonts.cdnfonts.com/css/mank-sans" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Chat</title>
</head>
<body>
<header class="header">
    <div class="navBar">
        <%- `<nav><img src="${data.defaultProfile}" alt="image" class="chatProfile chatProfileNav"><p class="userName">${data.data.name}</p></nav>` %>  
    </div>
</header>
    <div class="reseach">
       <input type="search" name="search" id="searchBar" placeholder="reseach"><i class="fa fa-magnifying-glass"></i>
    </div>
    <section class="onlineUsers">
    </section>
  
    <section class="chatUsers">
        
    </section>
    <div class="progressDiv">
        <progress id="progressBar" value="0" max="100" hidden></progress>
    </div>


<footer class="icons">
    <div class="downbar">
        <div>
            <i class="fa fa-comment" style="font-size:24px"></i><br><span>Chat</span>
        </div>
        <div>
            <i class="fa fa-users" style="font-size:24px"></i><br><span>People</span>
        </div>
        <div>
            <i class="fa fa-user" style="font-size:24px"></i><br><span>Profile</span>
        </div>
    </div>
</footer>
<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-storage.js"></script>
<script src="/statics/chat.js"></script>
</body>
</html>