<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static/index.css">
    <link href="http://fonts.cdnfonts.com/css/poiret-one" rel="stylesheet">
    <link href="http://fonts.cdnfonts.com/css/manksans-medium" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
 <section class="body">    
    <section class="form">
        <form action="/login" id="loginForm" method="POST">
            <div class="userName">
                <label for="name">User Name</label>
                <input type="text" name="name" id="userName">
            </div>
            <div class="password">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <div class="button">
                <input type="submit" value="Login" id="signin">
            </div>
        </form>
    </section>
    <section class="signupbtn">
        <h3>Let's connect with each other</h3>
        <p></p>
            <button id="btnToSignUp">Go to sign up</button>
    </section>
 </section>
    <script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-storage.js"></script>
    <script src="/statics/signin.js"></script>
</body>
</html>