<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <h3>Welcome to the live chat</h3>

<form action="/login" id="loginForm" method="POST">
    <label for="name">User Name</label>
    <input type="text" name="name" id="userName">
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
    <input type="submit" value="Sign in" id="signin">
</form>
<button id="btnToSignUp">Go to sign up</button>
  <script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-storage.js"></script>
    <script src="/statics/signin.js"></script>
</body>
</html>